body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #91dce6;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);    
}

h1{
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input{
    margin:10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    text-align: center;
    background-color: #b8e3e9;
    box-shadow: 2px 2px 2px #000000;
}

label{
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

button{
    margin:10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    text-align: center;
    background-color: #b8e3e9;
    box-shadow: 2px 2px 2px #000000;
}