body{
    background-color: #252525;
    color: white;
}
#btn{
    background-color: #267;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    color: #fff;
}
#btn:hover{
    background-color: #145;
}