*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(90deg, rgba(155, 155, 155, 1), rgba(233, 240, 250, 1));
}
.forms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    font-size: 1.5em;
}
.form1{
    grid-row: 1;
    grid-column: 2;
    padding: 25px;
    background: linear-gradient(100deg, rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
    border: none;
    border-radius: 10px;
}
.form2{
    grid-row: 1;
    grid-column: 3;
    padding: 25px;
    background: linear-gradient(100deg, rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
    border: none;
    border-radius: 10px;
}
.form3{
    grid-row: 2;
    grid-column: 2;
    padding: 25px;
    background: linear-gradient(100deg, rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
    border: none;
    border-radius: 10px;
}
.form4{
    padding: 25px;
    grid-row: 2;
    grid-column: 3; 
    background: linear-gradient(100deg, rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
    border: none;
    border-radius: 10px;
}
.forms label{
    font-size: 1em;
    text-align: left;
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    position: relative;
    color: black;
}
.forms h2{
    font-size: 1em;
    margin-bottom: 20px;
}
h1{
    font-size: 5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1%;
}
button{
    display: flex;
    margin: auto;
    margin-top: 1.5%;    
    font-size: 1.5em;
    width: 10%;
    text-align: center;
    padding: 15px;
    padding-left: 35px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(100deg, rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
}
p{
    text-align: center;
    margin-top: 1.5%;
    font-size: 2em;
    margin-bottom: 10px;
}
input[type="radio"]{
    display: none;
}
label:before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 30px;
}
input[type="radio"]:checked + label:before{
    background-color: rgb(255, 255, 255);
}